@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  min-height: 100px;
  padding: 100px;
  border-radius: 10px;
  background-color: #265073;
}

.card-body {
  text-align: center;
}

h1 {
  color: #f1fada;
}

h6 {
  color: #f1fada;
}

.form {
  margin-top: 20px;
}

.form .select {
  padding: 10px;
  margin-right: 10px;
}

.add-task {
  width: 270px;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding-left: 10px;
}

.addBtn {
  background-color: #2d9596;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.addBtn:hover {
  background-color: #337357;
  transition: 0.3s;
}

.nav-pills {
  margin-top: 20px;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checker {
  margin-right: 10px;
}

.checkbox {
  margin-right: 5px;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.remove-todo-item {
  color: #dc3545;
  text-decoration: none;
  margin-left: auto;
  cursor: pointer;
}

.remove-todo-item:hover {
  text-decoration: underline;
}

.nav-item {
  align-items: start;
  list-style: none; /* Add this line to remove the bullet point */
}

.nav-item a {
  text-decoration: none;
}

.todo-list .todo-item {
  width: auto;
  padding: 5px;
  margin: 7px;
  background: #2d9596;
  border-radius: 10px;
}

.todo-item span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

.todo-item {
  text-decoration: none;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}

.todo-item button {
  border: none;
  font-size: 13px;
  color: rgb(160, 62, 62);
}

.todo-item button:hover {
  color: red;
}

.checker input {
  width: 18px;
  height: 15px;
}

.todo-list {
  color: #f1fada;
}
